<<<<<<< Updated upstream
=======
<<<<<<< HEAD
-@request.each do |request|
  = p request

=======
>>>>>>> Stashed changes
%table
  %thead
    %tr
      %th{width:"150"} First Name
      %th{width:"150"} Last Name
      %th{width:"200"} Email

  %tbody
  -@requests.each do |r|
    %tr 
      %td= r.first_name
      %td= r.last_name
      %td= r.email

=@requests.count
<<<<<<< Updated upstream
=======
>>>>>>> 5f2aa5c5adf3f3b0a12e0867a200937fcf872663
>>>>>>> Stashed changes
