- @request.errors.messages.each do |field, message|
  %li.small-2.columns= message.first

.row{style: "padding: 4% 0 0 20%"}
=form_for @request, url: {action: "create"} do |f|
  .row
    .small-4.large-3.columns
      %lable First Name
      =f.text_field :first_name, required: true

    .small-4.large-3.columns
      %lable Last Name
      =f.text_field :last_name, required: true
    
    .small-4.large-6.columns

  .row
    .small-8.large-4.columns
      %lable Email
      =f.text_field :email, required: true
  
  .row
    .small-4.large-3.columns
      %lable Do you live in the Bay Area?
      =select(:request, :live_in_sf, options_for_select([['No', false], ['Yes', true]]) )

    .small-6.large-3.columns
      %lable I want a vehicle with Wi-Fi:
      =select(:request, :wifi, options_for_select([['No', false], ['Yes', true]]) )

    .small-2.large-6.columns

  .row
    .small-5.large-4.columns
      %lable Do you have any wine club memberships?
      =select(:request, :club_memberships, options_for_select([['No', false], ['Yes', true]]) )

  .row
    .small-4.columns
      =f.submit "Submit Request"
