%h1 FAQ

%ul{class: "accordion", data: {accordion: true}}
  %li{class: "accordion-navigation"}
    %a{href: "#panel1a"} How does this work?
    %div{id:"panel1a", class: "content"}
      Visit Napa or Sonoma for a day to experience wines at some of the best wineries in the world at a cost of $30/person. All I ask is that you purchase $100 worth of wine, per person, on the trip.

  %li{class: "accordion-navigation"}
    %a{href:"#panel2a"} You'll take me to Napa for $30?
    %div{id:"panel2a", class: "content active"}
      Yup. For $30 per person I'll take you to Napa.

  %li{class: "accordion-navigation"}
    %a{href: "#panel8a"} Don't tastings cost money too?
    %div{id:"panel8a", class: "content"}
      Most tastings are not free however, I'll make sure they come at no cost to you.

  %li{class: "accordion-navigation"}
    %a{href: "#panel3a"} I thought this was a $30 trip. Why do I need to buy wine?
    %div{id:"panel3a", class: "content"}
      In order for us to keep doing this, wineries need to succceed. The only way they do that is by customers purchasing wine. At $130 per person this is the same price or cheaper than any other tour in the area AND you'll get to take home bottles of wine!

  %li{class: "accordion-navigation"}
    %a{href: "#panel9a"} Is food included?
    %div{id:"panel9a", class: "content"}
      No. We will stop for lunch but the cost of food is not included.

  %li{class: "accordion-navigation"}
    %a{href: "#panel4a"} Do I need to get tour wine country before the tour?
    %div{id:"panel4a", class: "content"}
      Nope. If you can get to the Bay Area, Sonoma, Napa, or anywhere in between I'd be happy to have you.


  %li{class: "accordion-navigation"}
    %a{href: "#panel5a"} Can I ship wines back home?
    %div{id:"panel5a", class: "content"}
      This depends on where you live. If you don't live in California we can discuss your options before you make any purchasing decisions.


  %li{class: "accordion-navigation"}
    %a{href: "#panel6a"} How do we get up there?
    %div{id:"panel6a", class: "content"}
      We'll be driving up in a full-size sedan, crossover, or SUV. All of cars are clean and no older than a year. You can even request WiFi!


  %li{class: "accordion-navigation"}
    %a{href: "#panel7a"} Cars have WiFi!?!
    %div{id:"panel7a", class: "content"}
      If requested, yes. Although this comes at an extra cost of $50 for the day. And we'll drive up in a gorgeous Audi A4 :)

  %li{class: "accordion-navigation"}
    %a{href: "#panel7a"} I can't make it. What's your cancelation policy?
    %div{id:"panel7a", class: "content"}
      We understand that things come up. There's a fee of


