%h1 FAQ

%ul{class: "accordion", data: {accordion: true}}
  
  %li{class: "accordion-navigation"}
    %a{href: "#panel1a"} How do I book a trip up north?
    %div{id:"panel1a", class: "content active"}
      Visit the
      =link_to('request form', new_request_path)
      and someone will be in touch with you shortly thereafter.

  %li{class: "accordion-navigation"}
    %a{href:"#panel2a"} How much does the trip cost?
    %div{id:"panel2a", class: "content"}
      Visit Napa or Sonoma for a day to experience wines at some of the best wineries in the world at a cost of $700/couple and $200 for each subsequent person. This includes all tastings, lunch, and transportation to/from the SF Bay Area.

  %li{class: "accordion-navigation"}
    %a{href:"#panel3a"} What's included?
    %div{id:"panel3a", class: "content"}
      All tastings, lunch, and transportation to/from the SF Bay Area are included in the cost. Wine, shipments, and any other purchases are NOT included in this cost.

  %li{class: "accordion-navigation"}
    %a{href: "#panel4a"} Can we bring kids along?
    %div{id:"panel4a", class: "content"}
      Kids are more than welcome to join and charged at flat rate $200/person if under 18. Note that not all wineries allow kids and adjustments will need to be made in these cases.

  %li{class: "accordion-navigation"}
    %a{href: "#panel5a"} Is lunch included?
    %div{id:"panel5a", class: "content"}
      Yes. Lunch is included in the cost of the tour.

  %li{class: "accordion-navigation"}
    %a{href: "#panel6a"} Do I need to get to wine country before the tour?
    %div{id:"panel6a", class: "content"}
      Nope. If you're in San Francisco, Oakland, Sonoma, Napa, or anywhere in between then a pick up is included.


  %li{class: "accordion-navigation"}
    %a{href: "#panel7a"} If I decide to purchase wines, can I ship them home?
    %div{id:"panel7a", class: "content"}
      This depends on where you live. If you don't live in California we can discuss your options before you make any purchasing decisions.


  %li{class: "accordion-navigation"}
    %a{href: "#panel8a"} How do we get up there?
    %div{id:"panel8a", class: "content"}
      We'll be driving up in a beautiful Audi. All cars are clean and no older than a year. You can even request WiFi!


  %li{class: "accordion-navigation"}
    %a{href: "#panel9a"} Cars have WiFi!?!
    %div{id:"panel9a", class: "content"}
      If requested, yes. Although this comes at an added cost of $50 for the day. It's still an Audi :)

  %li{class: "accordion-navigation"}
    %a{href: "#panel10a"} I can't make it. What's your cancelation policy?
    %div{id:"panel10a", class: "content"}
      We understand that things come up. Cancellations less than a week out will be assessed a $200 cancellation fee.


