%p You'll take me to Napa for free??

%p Yup.


%p How does this work?

%p It's very simple. I take you to Napa or Sonoma for a day to experience wines at some of the best wineries in the world...at no cost to you. All I ask is that you purchase $100 worth of wine, per person, on the trip.


%p I thought this was a free trip. Why do I need to buy wine?

%p In order for us to keep doing this, wineries need to succceed. The only way they do that is by customers purchasing wine. At $100 per person this is cheaper than any other tour in the area AND you'll get to take home bottles of wine you enjoyed!


%p Can I still participate if I'm not from the Bay Area?

%p If you can get to the Bay Area, Sonoma, Napa, or anywhere in between I'd be happy to have you.


%p Can I ship wines back home?

%p This depends on where you live. If you don't live in California we can discuss your options before you make any purchasing decisions.


%p How do we get up there?

%p We'll be driving up from the Bay Area in a full-size sedan, crossover, or SUV. All of our cars are clean and no older than a year. Some even have WiFi!


%p Wait your cars have WiFi!?!

%p Some. Although this comes at an extra cost of $50 for the day. And we'll drive up in an Audi :)


