%nav{class: "top-bar", role: "navigation", data: {topbar: true}}
  %ul{class: "title-area"}
    %li{class: "name"}
      %h1
        = link_to 'Take Me North', root_path

  %section{class: "top-bar-section"}
    <!-- Right Nav Section -->
    %ul{class: 'right'}
      %li
        = link_to 'FAQ', faq_url
