<!DOCTYPE html>
<html>
<head>
  <title>Takemenorth</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="_fSMhmf6tYzLE_pYysLFs9l2Bx9y88ftfcqxPevRJB4" />
</head>
<body>

<%= yield %>

</body>
</html>
